        /* Contact */
        @keyframes appear {
            from {
                transform: translateX(100%);
                filter: blur(100px);
            }

            to {
                transform: translateX(0%);
                filter: blur(0px);

            }

        }
        .contact_container {
            user-select: text;
            display: flex;
            justify-content: space-evenly;
            animation: appear 1s 1;
        }

        .contact_container:hover {
            cursor: pointer;
        }

        .contact {
            display: inline-block;
            cursor: text;
            padding: 20px;
            font-family: "Ubuntu Mono", monospace;
            font-size: large;
            left: 2vw;
        }

        .contact dl {
            color: var(--secondery_color);

        }

        .contact dd {
            color: var(--text_color);
        }

        .contact>.social-icons {
            margin-top: 20px;
            margin-left: 0px;
        }

        .contact>.social-icons>a:first-child {
            margin-left: 0px;
        }

        .contact>.social-icons>a {
            margin-left: 10px;
        }

        .contact_form_container {
            border: 2px solid var(--secondery_color);
            border-radius: 5px;
            display: inline-block;

            box-shadow: 5px 5px 30px var(--secondery_color);
            transition-property: box-shadow;
            transition-duration: 0.5s;
            transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        .contact_form_container:hover {
            box-shadow: 5px 5px 50px var(--secondery_color);
            transition-property: box-shadow;
            transition-duration: 0.5s;
            transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

        }

        .contact_form {
            margin: 30px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            font-family: "Ubuntu Mono", monospace;
        }

        .contact_form input,
        textarea,
        button {
            padding: 5px;
            border: 2px solid var(--secondery_color);
            border-radius: 5px;
            background-color: var(--primary_color);
            color: var(--text_color);
            margin: 10px;
            scrollbar-width: none;
        }

        .contact_form button {
            border-color: var(--secondery_color);
            font-family: "Ubuntu Mono", monospace;
            font-style: italic;
            padding: 20px;
        }

        .contact_form button:hover {
            cursor: pointer;
            color: var(--primary_color);
            background-color: var(--secondery_color);
            transition-property: color background-color;
            transition-duration: 0.5s;
            transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
            box-shadow: 5px 5px 30px var(--secondery_color);
            transition-property: box-shadow;
            transition-duration: 0.5s;
            transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        .contact_form input {
            width: 300px;
            height: 40px;
        }

        .contact_form label {
            color: var(--text_color);
            margin-left: 10px;
        }

        .contact_form > a{
            text-align: center;
        }

        footer {
            text-align: center;
            padding: 30px;
            color: var(--secondery_color);
        }

        footer p {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
        }

        @media only screen and (max-width : 1060px) {
            .contact_container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .contact_form_container {
                margin-top: 50px;
            }
        }

        @media only screen and (max-width : 410px) {
            .contact_container {
                transform: scale(90%);
            }

            .contact_form_container {
                margin-top: 30px;
            }
        }

        @media only screen and (max-width : 370px) {
            .contact_container {
                transform: scale(80%);
            }

            .contact_form_container {
                margin-top: 20px;
            }
        }
