/* ANIMISTA ANIMATIONS */

.text-focus-in {
        -webkit-animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
        0% {
                -webkit-filter: blur(12px);
                filter: blur(12px);
                opacity: 0;
        }

        100% {
                -webkit-filter: blur(0px);
                filter: blur(0px);
                opacity: 1;
        }
}

@keyframes text-focus-in {
        0% {
                -webkit-filter: blur(12px);
                filter: blur(12px);
                opacity: 0;
        }

        100% {
                -webkit-filter: blur(0px);
                filter: blur(0px);
                opacity: 1;
        }
}

.rotate-in-2-cw {
        -webkit-animation: rotate-in-2-cw 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: rotate-in-2-cw 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes rotate-in-2-cw {
        0% {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                opacity: 0;
        }

        100% {
                -webkit-transform: rotate(0);
                transform: rotate(0);
                opacity: 1;
        }
}

@keyframes rotate-in-2-cw {
        0% {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                opacity: 0;
        }

        100% {
                -webkit-transform: rotate(0);
                transform: rotate(0);
                opacity: 1;
        }
}

.swing-in-top-fwd {
        -webkit-animation: swing-in-top-fwd 4s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        animation: swing-in-top-fwd 4s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
        0% {
                -webkit-transform: rotateX(-100deg);
                transform: rotateX(-100deg);
                -webkit-transform-origin: top;
                transform-origin: top;
                opacity: 0;
        }

        100% {
                -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
                -webkit-transform-origin: top;
                transform-origin: top;
                opacity: 1;
        }
}

@keyframes swing-in-top-fwd {
        0% {
                -webkit-transform: rotateX(-100deg);
                transform: rotateX(-100deg);
                -webkit-transform-origin: top;
                transform-origin: top;
                opacity: 0;
        }

        100% {
                -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
                -webkit-transform-origin: top;
                transform-origin: top;
                opacity: 1;
        }
}

.roll-in-blurred-left {
        -webkit-animation: roll-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
        animation: roll-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}


@-webkit-keyframes roll-in-blurred-left {
        0% {
                -webkit-transform: translateX(-1000px) rotate(-720deg);
                transform: translateX(-1000px) rotate(-720deg);
                -webkit-filter: blur(50px);
                filter: blur(50px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateX(0) rotate(0deg);
                transform: translateX(0) rotate(0deg);
                -webkit-filter: blur(0);
                filter: blur(0);
                opacity: 1;
        }
}

@keyframes roll-in-blurred-left {
        0% {
                -webkit-transform: translateX(-1000px) rotate(-720deg);
                transform: translateX(-1000px) rotate(-720deg);
                -webkit-filter: blur(50px);
                filter: blur(50px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateX(0) rotate(0deg);
                transform: translateX(0) rotate(0deg);
                -webkit-filter: blur(0);
                filter: blur(0);
                opacity: 1;
        }
}

.slide-in-elliptic-top-fwd {
        -webkit-animation: slide-in-elliptic-top-fwd 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-elliptic-top-fwd 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
        0% {
                -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
                transform: translateY(-600px) rotateX(-30deg) scale(0);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                opacity: 0;
        }

        100% {
                -webkit-transform: translateY(0) rotateX(0) scale(1);
                transform: translateY(0) rotateX(0) scale(1);
                -webkit-transform-origin: 50% 1400px;
                transform-origin: 50% 1400px;
                opacity: 1;
        }
}

@keyframes slide-in-elliptic-top-fwd {
        0% {
                -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
                transform: translateY(-600px) rotateX(-30deg) scale(0);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                opacity: 0;
        }

        100% {
                -webkit-transform: translateY(0) rotateX(0) scale(1);
                transform: translateY(0) rotateX(0) scale(1);
                -webkit-transform-origin: 50% 1400px;
                transform-origin: 50% 1400px;
                opacity: 1;
        }
}

.slide-in-blurred-left {
        -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
        animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}


@-webkit-keyframes slide-in-blurred-left {
        0% {
                -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
                transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
                -webkit-transform-origin: 100% 50%;
                transform-origin: 100% 50%;
                -webkit-filter: blur(40px);
                filter: blur(40px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateX(0) scaleY(1) scaleX(1);
                transform: translateX(0) scaleY(1) scaleX(1);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                -webkit-filter: blur(0);
                filter: blur(0);
                opacity: 1;
        }
}

@keyframes slide-in-blurred-left {
        0% {
                -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
                transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
                -webkit-transform-origin: 100% 50%;
                transform-origin: 100% 50%;
                -webkit-filter: blur(40px);
                filter: blur(40px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateX(0) scaleY(1) scaleX(1);
                transform: translateX(0) scaleY(1) scaleX(1);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                -webkit-filter: blur(0);
                filter: blur(0);
                opacity: 1;
        }
}

.slide-in-top {
        -webkit-animation: slide-in-top 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-top 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
        0% {
                -webkit-transform: translateY(-1000px);
                transform: translateY(-1000px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                opacity: 1;
        }
}

@keyframes slide-in-top {
        0% {
                -webkit-transform: translateY(-1000px);
                transform: translateY(-1000px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                opacity: 1;
        }
}

.bounce-top {
        -webkit-animation: bounce-top 2s both;
        animation: bounce-top 2s both;
}

@-webkit-keyframes bounce-top {
        0% {
                -webkit-transform: translateY(-45px);
                transform: translateY(-45px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 1;
        }

        24% {
                opacity: 1;
        }

        40% {
                -webkit-transform: translateY(-24px);
                transform: translateY(-24px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        65% {
                -webkit-transform: translateY(-12px);
                transform: translateY(-12px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        82% {
                -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        93% {
                -webkit-transform: translateY(-4px);
                transform: translateY(-4px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        25%,
        55%,
        75%,
        87% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        100% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
        }
}

@keyframes bounce-top {
        0% {
                -webkit-transform: translateY(-45px);
                transform: translateY(-45px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 1;
        }

        24% {
                opacity: 1;
        }

        40% {
                -webkit-transform: translateY(-24px);
                transform: translateY(-24px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        65% {
                -webkit-transform: translateY(-12px);
                transform: translateY(-12px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        82% {
                -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        93% {
                -webkit-transform: translateY(-4px);
                transform: translateY(-4px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        25%,
        55%,
        75%,
        87% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        100% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
        }
}