/* Home Page */

.main {
    overflow-x: hidden;
    user-select: none;
}


.home_container {
    padding: 50px 50px;
    padding-top: 100px;
    width: 100vw;
    font-family: "Stack Sans Text", sans-serif;
    margin-bottom: 150px;
}

.terminal {
    display: inline-block;
    position: absolute;
    left: 850px;
    top: 100px;
    width: 600px;
    border: 5px solid var(--secondery_color);
    transition-property: border;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.terminal:hover {
    cursor: pointer;
    box-shadow: 5px 5px 30px var(--secondery_color);
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media only screen and (max-width: 1450px) {
    .terminal {
        width: 500px;
        top: 120px;
    }
}

@media only screen and (max-width: 1355px) {
    .terminal {
        width: 450px;
        top: 120px;
    }
}

@media only screen and (max-width: 1305px) {
    .terminal {
        width: 450px;
        left: 800px;
        top: 120px;
    }
}

@media only screen and (max-width: 1255px) {
    .terminal {
        display: none;
    }
}

@media only screen and (max-width : 740px) {
    .terminal {
        display: inline-block;
        position: static;
    }
}

@media only screen and (max-width : 460px) {
    .terminal {
        width: 400px;
    }
}

@media only screen and (max-width : 410px) {
    .terminal {
        width: 350px;
    }
}

@media only screen and (max-width : 360px) {
    .terminal {
        width: 300px;
    }
}

@media only screen and (max-width : 320px) {
    .terminal {
        width: 250px;
    }
}

.home_container h1 {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.hello {
    display: inline-block;
    margin: 20px 20px;
    color: var(--secondery_color);
    background: transparent;
    font-size: 100px;
    text-shadow: 1px 1px 2px var(--text_color);
}

@keyframes typing {
    from {
        width: 0%;
    }

    to {
        width: 50%;
    }

}

@keyframes blink {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: var(--secondery_color);
    }

}

.name {
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 10px;
    color: var(--text_color);
    font-size: x-large;
    font-family: "Stack Sans Notch", sans-serif;

}

.intro {
    display: inline-block;
    color: var(--secondery_color);
    margin-left: 20px;
    font-size: large;
    font-family: "Cascadia Mono", sans-serif;

}

.slogan {
    display: inline-block;
    color: var(--secondery_color);
    margin-left: 80px;
    margin-top: 20px;
}


.btn {
    display: inline-block;
    margin: 50px;
}

.btn button {
    padding: 20px;
    margin: 10px;
    background-color: var(--primary_color);
    color: var(--secondery_color);
    border: 2px solid var(--secondery_color);
    border-radius: 5px;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: italic;
}

.btn button:hover {
    cursor: pointer;
    background-color: var(--secondery_color);
    color: var(--primary_color);
    transition-property: color background-color;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 5px 5px 30px var(--secondery_color);
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.social-icons {
    display: inline-block;
    margin-left: 65px;
}

.social-icons a {
    display: inline-block;
    margin-left: 30px;
}

.social-icons a img {
    display: inline-block;
    width: 40px;
    height: auto;
    filter: var(--invertion);
}

.social-icons a img:hover {
    cursor: pointer;
    filter: var(--hover_color);
    transition-property: filter;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    border-radius: 50%;
    box-shadow: 5px 5px 30px var(--secondery_color);
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media only screen and (max-width : 740px) {
    .home_container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 150px;
        padding: 0px;
    }

    .hello {
        margin: 0px;
    }

    .intro {
        margin: 0px;
    }

    .slogan {
        margin-left: 0px;
    }

    .social-icons {
        margin-left: 0px;
    }

    .social-icons a {
        margin-left: 10px;
    }

    .social-icons a:first-child {
        margin-left: 0px;
    }

}

@media only screen and (max-width : 320px) {
    .hello {
        word-wrap: wrap;
        word-break: keep-all;
    }

    .name {
        margin-left: 0px;
    }
}