/* Projects */

.projects_container {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
}

.projects_card {
    user-select: text;
    margin: 50px;
    border: 2px solid var(--secondery_color);
    display: inline-block;
    width: 384px;
}

.projects_card:hover {
    box-shadow: 5px 5px 30px var(--secondery_color);
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.projects_card>img {
    width: 384px;
}

.projects_card>img:hover {
    cursor: pointer
}

.projects_card h3 {
    color: var(--text_color);
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.projects_card p {
    color: var(--secondery_color);
    word-wrap: break-word;
    margin: 10px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.card_btn {
    margin: 15px;
    text-align: center;
}

.card_btn:first-child {
    margin-left: 3px;
}

.card_btn button {
    padding: 20px;
    background-color: var(--primary_color);
    color: var(--text_color);
    border: 2px solid var(--secondery_color);
    border-radius: 5px;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: italic;
    font-size: large;
}

.card_btn button:hover {
    cursor: pointer;
    background-color: var(--secondery_color);
    color: var(--primary_color);
    transition-property: color background-color;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media only screen and (max-width : 1200px) {
    .about_container {
        margin-left: 50px;
    }

    .myimg {
        transform: scale(70%);
        position: relative;
        bottom: 110px;
    }

    .details {
        font-size: large;
        text-align: unset;
        word-break: break-all;
    }
}

@media only screen and (max-width : 860px) {
    .about_container {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0px;
    }

    .myimg {
        position: static;
        transform: scale(100%);
    }

    .details {
        width: 90vw;
        word-break: keep-all;
        font-size: large;
    }
}

@media only screen and (max-width : 570px) {
    .myimg {
        transform: scale(90%);
    }

    .details {
        width: 90vw;
        word-break: keep-all;
    }
}

@media only screen and (max-width : 550px) {
    .myimg {
        display: none;
    }

    .myimg2 {
        display: inline-block;
        margin-top: 50px;
        border-radius: 50%;
        border: 5px solid var(--secondery_color);
    }

    .name2 {
        display: inline-block;
        margin-top: 20px;
        color: var(--text_color);
        font-size: x-large;
        font-family: "Stack Sans Notch", sans-serif;
    }

    .myimg2_container {
        width: 100%;
        text-align: center;
    }

}