 /* Universal*/

 * {
     margin: 0px;
     padding: 0px;
     scroll-behavior: smooth;
 }

 .main {
     overflow-x: hidden;
     user-select: none;
 }

 body {
     background-color: var(--primary_color);
 }

 .heading {
     font-family: "Ubuntu Mono", monospace;
     text-align: center;
     color: var(--secondery_color);
     text-decoration: line-through;
     text-decoration-color: var(--text_color);
 }

 #About{
    margin-top: 100px;
 }

 #Projects {
     margin-top: 100px;
 }

 #Contact {
     margin-top: 100px;
     margin-bottom: 20px;
 }

 @media only screen and (max-width: 975px) {

     #Projects,
     #Contact {
         margin-bottom: 0px;
     }
 }