/* About */

@keyframes appear {
    from {
        transform: translateX(100%);
        filter: blur(100px);
    }

    to {
        transform: translateX(0%);
        filter: blur(0px);

    }

}

.about_container {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    animation: appear 1s 1;
}

.details {
    display: inline-block;
    margin-top: 50px;
    width: 50vw;
    text-align: center;
    color: var(--text_color);
    font-family: "Cascadia Mono", sans-serif;
    font-size: large;
    color: var(--secondery_color);
    word-break: keep-all;
}

.details a {
    color: var(--secondery_color);
}

.details a:hover {
    color: var(--text_color);
}

.bubble {
    color: var(--secondery_color);
    border: 2px solid var(--secondery_color);
    border-radius: 5px;
    font-family: "Cascadia Mono", sans-serif;
    text-align: left;
    width: 55vw;
    padding-left: 10px;
    padding-bottom: 25px;
    transform: scale(90%);

    box-shadow: 5px 5px 30px var(--secondery_color);
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.bubble:hover {
    box-shadow: 5px 5px 50px var(--secondery_color);
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.bubble h2 {
    padding-top: 25px;
    padding-bottom: 25px;
    cursor: text;
}

.bubble h3 {
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 30px;
    cursor: text;
}

.bubble a img {
    margin-right: 4px;
    cursor: pointer;
}

.bubble a img:hover {
    transform: scale(110%);
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

}

.dp {
    border: 5px solid var(--secondery_color);
    border-radius: 50%;
    cursor: pointer;
    width: 100px;
    position: absolute;
    right: 70px;
    top: 20px;

    box-shadow: 5px 5px 50px var(--secondery_color);
}

.name2 {
    position: absolute;
    right: 20px;
    top: 135px;
    color: var(--text_color);
    font-size: x-large;
    font-family: "Stack Sans Notch", sans-serif;
    cursor: text;
}