/* Navbar (Desktop) */
.navbar * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background: var(--primary_color);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 2px solid var(--secondery_color);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  max-width: 1500px;
  padding: 0 50px;
}

.navbar-logo {
  color: var(--text_color);
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
}


.navbar-logo span {
  color: var(--secondery_color);
}


.nav-menu {
  display: flex;
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  font-weight: 500;
  transition: color 0.2s ease-out;
}

.nav-links:hover {
  color: var(--secondery_color);
}

/* Hamburger Icon */
/* Hidden on desktop */

.menu-icon {
  display: none;
}

/* Navbar (Mobile) */

@media screen and (max-width: 960px) {
  .navbar-container {
    padding: 0 30px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45vh;
    position: absolute;
    top: 72px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    background: var(--primary_color);
    border-bottom: 2px solid var(--secondery_color);
  }

  .nav-menu.active {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    width: 100%;
    display: table;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-links:hover {
    background-color: #1a1a1a;
    border-radius: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}